
    body{
        direction: rtl;
        display: flex;
        flex-wrap: wrap;
        background-color:#F5F3E7;
        color: #3B2F2F;
        margin: 0;
        font-size: 150%;
        font-family: Arial, Helvetica, sans-serif;


    }
    header{
        background-color:#EDE0D4;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 30px;
        border-bottom: 3px solid #B68D40;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;


    }
    h1{
        color:#3B2F2F;
        font-style: italic;
        font-size: 200%;
    }
    nav a {
        text-decoration: none;
        font-variant: small-caps;	
        font-size: 150%;
        margin: 0 10px;
        transition: color 0.3s, background-color 0.3s;
        color: #65411b;
    }

    nav a:hover{
        background-color:#B68D40;
        color: #FFFFFF;
        padding: 5px;
        border-radius: 5px;
    }
    .content-wrapper{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 0 5%;
    }
    .column {

        flex: 1;
        background-color: #faf2eb;
        padding: 15px;
        border: 1px dashed #65411b;
        text-align: center;
    }

    h2{

        color: #b36614;
        padding: 15px;
        margin: 0 auto 15px auto;
        border: 2px solid #654321;

        border-radius: 8px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); ;
        
    }

    section{
       
        flex:1;
        background-color: #3B2F2F; 
        color: #F5F3E7; 
        padding: 20px;
        margin: 10px;
        border: 2px solid #654321; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        text-align: center;
    }


    
    section a {
        text-decoration: none;
        color: #B68D40;
        font-weight: bold;
        transition: color 0.3s, background-color 0.3;

    }
    section h2 {
        color: #EDE0D4; 
        background-color: #B68D40;
        border-bottom: 3px solid #654321;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        margin-bottom: 15px;
        
    }
    section a:hover{
        background-color: #B68D40;
        color: #3B2F2F;
        padding: 3px 8px;
        border-radius: 3px;
        transform: scale(0.95);

    }
 
    

    section.css-column{

        border: 5px solid #B68D40; 
        padding: 40px; 
        background-color: #F5F3E7; 
        color: #3B2F2F; 
        text-align: center;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
    

    section ul li::marker {
        content: "○"; /* עיגול ריק ייחודי */
        color: #B68D40; /* צבע קרמל */
        font-size: 1.2em; /* גודל גדול יותר */
    }

    .css-box {
        background-color: #3B2F2F; 
        color: #F5F3E7; 
        border: 5px solid #cbb5a0; 
        border-radius: 10px; 
        padding: 40px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        margin-top: 15px; 
        text-align: center; 
    }

    footer{
        background: #BBBBBB;
        height:100px;
        clear: both;
    }





    


    

