
    body{
        direction: rtl;
        background-color: rgb(229, 229, 229);
        margin: 5%;
        font-size: 150%;
        font-family: Arial, Helvetica, sans-serif;

    }
    header{
        background-color: rgba(203, 95, 0, 0.861);
        text-align: center;
        padding-bottom: 10px;


    }
    h1{
        color: rgb(181, 31, 31)

    }
    nav{
        font-variant: small-caps;	
        font-size: 150%;
    }

    h2{
        color: #666666;
        background: #BBBBBB;
    }

    section{
        display:inline-block;
        width:30%;
        margin-right: 2%;
        float: right;
    }

    summary{
        font-style: normal;
    }

    details{
        font-style: italic;
    }

    footer{
        background: #BBBBBB;
        height:100px;
        clear: both;
    }
    progress {
        background: #ff0000;
    }
    
    progress::-webkit-progress-bar {
        background-color: #BBBBBB;	
    }
    
    progress::-webkit-progress-value {
        background-color: #666666 !important;
    } 
    progress::-moz-progress-bar {
        background-color: #666666 !important;
    }


    

