body {
    margin: 0;
    overflow: hidden;
}

#clickMe {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #3c93f1;
    color: rgb(13, 11, 11);
    cursor: pointer;
    border-radius: 5px;
    user-select: none; /* מונע סימון של הטקסט */
}
.dorothy {
    width: 50px;
    height: 80px;
 /*  Taken from here: http://openbookproject.net/thinkcs/python/english3e/_images/duke_spritesheet.png*/ 
    background: url('../duke_spritesheet.png') 0 0;
    position: absolute;
    top: 40px; /* Initial top position */
    left: 50px; /* Initial left position */
    /*transform: translate(-50%, -50%);*/
  
}


@keyframes walkAnimation {
    from {
        background-position: 0;
    }
    to {
        background-position: -500px; /* מספר הצעדים באנימציה */
    }
}
